*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form_one{

  padding: 1rem 1rem;
  margin: 2rem 0rem;
 
}



/* img */

img
{
  width: 100%;
  height: 100%;
}

.search_img{
  width: 20rem ;
  height: auto;
  margin: 1rem 0rem;
}


.feed_form{
 padding: 1rem 1rem;
  margin: 2rem 0rem;
 
}